In [1]:
import pandas as pd
from pulp import *

scrap_inventory = pd.read_csv(r'data\Challenge2_total_tires_public.csv')
vehicles = pd.read_csv(r'data\Challenge2_vehicles_public.csv')
destination_distances = pd.read_csv(r'data\Challenge2_distances_public.csv')
destination_capacities = pd.read_csv(r'data\Challenge2_capacity_public.csv')
destination_extra_ghg = pd.read_csv(r'data\Challenge2_second_leg_GHG_public.csv')

ModuleNotFoundError: No module named 'pulp'

In [204]:
destination_capacities.rename(columns={"max_tire_capacity":"max_tire_capacity_destination"}, inplace=True)
vehicles.rename(columns={"max_tire_capacity":"max_tire_capacity_vehicle"}, inplace=True)

print("scrap_inventory")
display(scrap_inventory)

print('vehicles')
display(vehicles)

print('destination_distances')
display(destination_distances)

print('destination_capacities')
display(destination_capacities)

print('destination_extra_ghg')
display(destination_extra_ghg)

scrap_inventory

       dc_name  tires
0  KANSAS CITY   1126
1    ST. LOUIS    929
2  SPRINGFIELD    436

vehicles

,dc_name,vehicle_name,vehicle_type,base_ghg_per_mile,extra_ghg_per_tire_per_mile,max_tire_capacity_vehicle
0,KANSAS CITY,DESDAMONA,EV,26,0.00405,260
1,KANSAS CITY,ELEANOR,EV,26,0.00405,260
2,ST. LOUIS,GINA,EV,26,0.00405,260
3,ST. LOUIS,BESSIE,EV,26,0.00405,260
4,SPRINGFIELD,WAGGY,EV,26,0.00405,260
5,SPRINGFIELD,ROBOCOP,EV,26,0.00405,260
6,KANSAS CITY,TERMINATOR,DIESEL,23,0.03915,335
7,KANSAS CITY,BRUM,DIESEL,23,0.03915,335
8,ST. LOUIS,BEAST,DIESEL,23,0.03915,335
9,ST. LOUIS,ARROWCAR,DIESEL,23,0.03915,335
10,SPRINGFIELD,VIPER,DIESEL,23,0.03915,335
11,SPRINGFIELD,ROCKY,DIESEL,23,0.03915,335

destination_distances

       dc_name destination  distance
0  KANSAS CITY         HUB         5
1    ST. LOUIS         HUB       248
2  SPRINGFIELD         HUB       163
3  KANSAS CITY       TRAIN        22
4    ST. LOUIS       TRAIN        30
5  SPRINGFIELD       TRAIN        50
6  KANSAS CITY    RECYCLER       759
7    ST. LOUIS    RECYCLER       933
8  SPRINGFIELD    RECYCLER       869

destination_capacities

   location  max_tire_capacity_destination
0       HUB                           2000
1     TRAIN                            800
2  RECYCLER                           1500

destination_extra_ghg

      location  base_ghg  additional_ghg_per_tire
0  KANSAS CITY   1016640                   252.59
1    ST. LOUIS   1183680                   310.50
2  SPRINGFIELD   1122240                   289.20
3          HUB    384000                   116.48
4        TRAIN    224000                    66.56
5     RECYCLER         0                     0.00

In [205]:
#all_combos = pd.merge(scrap_inventory, vehicles, on="dc_name")


all_combos = pd.merge(vehicles, destination_distances, on='dc_name')
all_combos = pd.merge(all_combos, destination_capacities, left_on='destination', right_on='location')
all_combos = pd.merge(all_combos, destination_extra_ghg, left_on='location', right_on='location')
all_combos = pd.merge(all_combos, destination_extra_ghg, left_on='dc_name', right_on='location')

all_combos.rename(columns={"base_ghg_x":"base_ghg_destination_disposal"}, inplace=True)
all_combos.rename(columns={"additional_ghg_per_tire_x":"additional_ghg_per_tire_destination_disposal"}, inplace=True)

all_combos.rename(columns={"base_ghg_y":"base_ghg_origin_disposal_BAD"}, inplace=True)
all_combos.rename(columns={"additional_ghg_per_tire_y":"additional_ghg_per_tire_origin_disposal_BAD"}, inplace=True)

all_combos = all_combos.drop(columns=['location_y', 'location_x'])

all_combos['full_route'] = all_combos['dc_name'] + "_" + all_combos['vehicle_name'] + "_" + all_combos['destination']

In [207]:
all_combos.to_csv("route_out.csv")

PermissionError: [Errno 13] Permission denied: 'route_out.csv'

In [ ]:
from pulp import *
model = LpProblem("stupid_problem", LpMinimize)

x1=("KANSAS CITY_DESDAMONA_HUB",0,260, LpInteger)
x2=("KANSAS CITY_ELEANOR_HUB",0,260, LpInteger)
x3=("KANSAS CITY_TERMINATOR_HUB",0,335, LpInteger)
x4=("KANSAS CITY_BRUM_HUB",0,335, LpInteger)
x5=("KANSAS CITY_DESDAMONA_TRAIN",0,260, LpInteger)
x6=("KANSAS CITY_ELEANOR_TRAIN",0,260, LpInteger)
x7=("KANSAS CITY_TERMINATOR_TRAIN",0,335, LpInteger)
x8=("KANSAS CITY_BRUM_TRAIN",0,335, LpInteger)
x9=("KANSAS CITY_DESDAMONA_RECYCLER",0,260, LpInteger)
x10=("KANSAS CITY_ELEANOR_RECYCLER",0,260, LpInteger)
x11=("KANSAS CITY_TERMINATOR_RECYCLER",0,335, LpInteger)
x12=("KANSAS CITY_BRUM_RECYCLER",0,335, LpInteger)
x13=("ST. LOUIS_GINA_HUB",0,260, LpInteger)
x14=("ST. LOUIS_BESSIE_HUB",0,260, LpInteger)
x15=("ST. LOUIS_BEAST_HUB",0,335, LpInteger)
x16=("ST. LOUIS_ARROWCAR_HUB",0,335, LpInteger)
x17=("ST. LOUIS_GINA_TRAIN",0,260, LpInteger)
x18=("ST. LOUIS_BESSIE_TRAIN",0,260, LpInteger)
x19=("ST. LOUIS_BEAST_TRAIN",0,335, LpInteger)
x20=("ST. LOUIS_ARROWCAR_TRAIN",0,335, LpInteger)
x21=("ST. LOUIS_GINA_RECYCLER",0,260, LpInteger)
x22=("ST. LOUIS_BESSIE_RECYCLER",0,260, LpInteger)
x23=("ST. LOUIS_BEAST_RECYCLER",0,335, LpInteger)
x24=("ST. LOUIS_ARROWCAR_RECYCLER",0,335, LpInteger)
x25=("SPRINGFIELD_WAGGY_HUB",0,260, LpInteger)
x26=("SPRINGFIELD_ROBOCOP_HUB",0,260, LpInteger)
x27=("SPRINGFIELD_VIPER_HUB",0,335, LpInteger)
x28=("SPRINGFIELD_ROCKY_HUB",0,335, LpInteger)
x29=("SPRINGFIELD_WAGGY_TRAIN",0,260, LpInteger)
x30=("SPRINGFIELD_ROBOCOP_TRAIN",0,260, LpInteger)
x31=("SPRINGFIELD_VIPER_TRAIN",0,335, LpInteger)
x32=("SPRINGFIELD_ROCKY_TRAIN",0,335, LpInteger)
x33=("SPRINGFIELD_WAGGY_RECYCLER",0,260, LpInteger)
x34=("SPRINGFIELD_ROBOCOP_RECYCLER",0,260, LpInteger)
x35=("SPRINGFIELD_VIPER_RECYCLER",0,335, LpInteger)
x36=("SPRINGFIELD_ROCKY_RECYCLER",0,335, LpInteger)

In [ ]:
#all_combos['path_ghg_full_vehicle'] = (all_combos['distance'] * all_combos['base_ghg_per_mile']) + (all_combos['distance'] * all_combos['extra_ghg_per_tire_per_mile'] * all_combos['max_tire_capacity_vehicle'])
# all_combos['path_ghg_full_vehicle'] = (all_combos['distance'] * all_combos['base_ghg_per_mile']) + (all_combos['distance'] * all_combos['extra_ghg_per_tire_per_mile'] * all_combos['max_tire_capacity_vehicle'])+(all_combos['base_ghg_destination_disposal']+(all_combos['additional_ghg_per_tire_destination_disposal']*all_combos['max_tire_capacity_vehicle']))

#############(+

all_combos['eq1'] = (all_combos['distance'] * all_combos['base_ghg_per_mile'])
all_combos['eq2x'] = all_combos['distance'] * all_combos['extra_ghg_per_tire_per_mile']
all_combos['eq3x'] = all_combos['additional_ghg_per_tire_destination_disposal']
all_combos['eq4'] = all_combos['base_ghg_destination_disposal']


all_combos['base_cost'] = all_combos['base_ghg_per_mile'] * all_combos['distance'] + all_combos['base_ghg_destination_disposal']
all_combos['cpt'] = ((all_combos['distance'] * all_combos['extra_ghg_per_tire_per_mile']) + all_combos['additional_ghg_per_tire_destination_disposal'] ) # * x1 # + (all_combos['additional_ghg_per_tire_destination_disposal']*all_combos['max_tire_capacity_vehicle'])

all_combos

model += (x1*all_combos['cpt'][0]+all_combos['base_cost']*abs(x1)/x1)+(
                x2*all_combos['cpt'][1]+all_combos['base_cost']*abs(x2)/x2)+(
                x3*all_combos['cpt'][2]+all_combos['base_cost']*abs(x3)/x3)+(
                x4*all_combos['cpt'][3]+all_combos['base_cost']*abs(x4)/x4)+(
                x5*all_combos['cpt'][4]+all_combos['base_cost']*abs(x5)/x5)+(
                x6*all_combos['cpt'][5]+all_combos['base_cost']*abs(x6)/x6)+(
                x7*all_combos['cpt'][6]+all_combos['base_cost']*abs(x7)/x7)+(
                x8*all_combos['cpt'][7]+all_combos['base_cost']*abs(x8)/x8)+(
                x9*all_combos['cpt'][8]+all_combos['base_cost']*abs(x9)/x9)+(
                x10*all_combos['cpt'][9]+all_combos['base_cost']*abs(x10)/x10)+(
                x11*all_combos['cpt'][10]+all_combos['base_cost']*abs(x11)/x11)+(
                x12*all_combos['cpt'][11]+all_combos['base_cost']*abs(x12)/x12)+(
                x13*all_combos['cpt'][12]+all_combos['base_cost']*abs(x13)/x13)+(
                x14*all_combos['cpt'][13]+all_combos['base_cost']*abs(x14)/x14)+(
                x15*all_combos['cpt'][14]+all_combos['base_cost']*abs(x15)/x15)+(
                x16*all_combos['cpt'][15]+all_combos['base_cost']*abs(x16)/x16)+(
                x17*all_combos['cpt'][16]+all_combos['base_cost']*abs(x17)/x17)+(
                x18*all_combos['cpt'][17]+all_combos['base_cost']*abs(x18)/x18)+(
                x19*all_combos['cpt'][18]+all_combos['base_cost']*abs(x19)/x19)+(
                x20*all_combos['cpt'][19]+all_combos['base_cost']*abs(x20)/x20)+(
                x21*all_combos['cpt'][20]+all_combos['base_cost']*abs(x21)/x21)+(
                x22*all_combos['cpt'][21]+all_combos['base_cost']*abs(x22)/x22)+(
                x23*all_combos['cpt'][22]+all_combos['base_cost']*abs(x23)/x23)+(
                x24*all_combos['cpt'][23]+all_combos['base_cost']*abs(x24)/x24)+(
                x25*all_combos['cpt'][24]+all_combos['base_cost']*abs(x25)/x25)+(
                x26*all_combos['cpt'][25]+all_combos['base_cost']*abs(x26)/x26)+(
                x27*all_combos['cpt'][26]+all_combos['base_cost']*abs(x27)/x27)+(
                x28*all_combos['cpt'][27]+all_combos['base_cost']*abs(x28)/x28)+(
                x29*all_combos['cpt'][28]+all_combos['base_cost']*abs(x29)/x29)+(
                x30*all_combos['cpt'][29]+all_combos['base_cost']*abs(x30)/x30)+(
                x31*all_combos['cpt'][30]+all_combos['base_cost']*abs(x31)/x31)+(
                x32*all_combos['cpt'][31]+all_combos['base_cost']*abs(x32)/x32)+(
                x33*all_combos['cpt'][32]+all_combos['base_cost']*abs(x33)/x33)+(
                x34*all_combos['cpt'][33]+all_combos['base_cost']*abs(x34)/x34)+(
                x35*all_combos['cpt'][34]+all_combos['base_cost']*abs(x35)/x35)+(
                x36*all_combos['cpt'][35]+all_combos['base_cost']*abs(x36)/x36)